<h1>About</h1>
<p>
  <%= link_to "PR Tracker", "#" %> 
  is an application help set your personal 
  fitness goals by allowing you to track and schedule your workouts, as well 
  as record your personal records and achievements.
</p> 

